extends layout

block content
  h1= title 
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quam amet animi corrupti unde nobis, a rerum sit porro nulla obcaecati ex quibusdam corporis modi sunt repudiandae tenetur praesentium ullam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsa facilis distinctio a nam, voluptatem doloribus assumenda cumque quidem, repudiandae tenetur modi ullam, ab soluta laboriosam iste vero placeat fuga.