doctype
html
  head
    title=title + ' | Workouts'
    include includes/styles.pug
  body.d-flex.flex-column
    block variables
      - var url = title.toLowerCase()
    block navbar
      include includes/navbar.pug
    block message
      if message && message.length
        .alert.alert-danger.text-center#message #{message}
    #page-content.container.mt-5
      block content
    block footer
      include includes/footer.pug
    block scripts
      include includes/scripts.pug