extends layout

include includes/formElement.pug

block content
  .row
    .container.container--xs
      h1.mb-1.text-center Sign in
      p.fs-14.text-gray.text-center.mb-5 Login for the coolest workouts on the planet
      .login-form
        h2 Login
        form(method="post" action="/login").login
          +formText('Email address ', 'email', 'email').form-email
          +formText('Password ', 'password', 'password').form-password
          span
            input(type="submit" name="login" value="Login").btn.btn-primary
